<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class='all'>
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
  <app-shoppinglist></app-shoppinglist>
  <router-outlet></router-outlet>

