<p>
  person works
  {{ message }}
</p>

<div>
  <button (click)="updateMessage()">Click Me</button>
</div>

<div>
  <label>Person Name:
    <input [(ngModel)]="newPerson" placeholder="new person name"/>
  </label>
</div>



<div *ngIf="showDiv">
  Demo
</div>

<ng-container *ngIf="showDiv; else elseTemplate">
  Show Div is true!
</ng-container>
<ng-template #elseTemplate>
  Show Div is false :-(
</ng-template>

<h2>Persons</h2>
<ul>
  <li *ngFor="let person of persons">
    {{ person.name }} ({{ person.age }})
  </li>  
</ul>

