<h1>My Shopping List</h1>

<div>
  <h2>New Article:</h2>
  <input [(ngModel)]="newName" placeholder="Name"/>
  <input [(ngModel)]="newPrice" placeholder="Price"/>
  <input [(ngModel)]="newAmount" placeholder="Amount"/>

  <button (click)="addArticle()">Add</button>
</div>

<div>

  <h2>Articles</h2>
  <table>
    <thead>
      <th>Name</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Sum</th>
    </thead>
    <tr *ngFor="let article of articles">
      <td>{{ article.name }}</td>
      <td>{{ article.price }}€</td>
      <td>{{ article.amount }}</td>
      <td>{{ article.sum }}€</td>
    </tr>
  </table>

  <p>Total: {{ totalPrice }}€</p>
</div>