<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to AngularDemo!
  </h1>
<!--
  <app-person></app-person>
-->
<div class="card m-2 mt-5 mb-5">
  <shopping-list></shopping-list>
</div>

<router-outlet></router-outlet>
