<p>
  person works!
</p>
<!--
-->
<div class="row mt-3">
  <div class="col">
    <button class="btn btn-warning" (click)="switchMessage()">Click Me</button>
  </div>
</div>

<div class="mt-3">
  <input [(ngModel)]="message" placeholder="new message here"/>
</div>

<div class="row mt-3">
  <div class="col">
    <ng-container *ngIf="showDiv; else elseTemplate">
      {{message}}
    </ng-container>
    <ng-template #elseTemplate>
      No Message to display
    </ng-template>
  </div>
</div>

<div *ngFor="let person of persons" class="row mt-3 text-left">
    <div class="col offset-lg-3">
        <div> Hello {{person.name}} ({{person.age}})</div>
    </div>
  </div>
