<h1 class='all'>My ShoppingList</h1>

<div class='all'>
  <h2> new article: </h2>
    <input [(ngModel)]="newName" placeholder="name"/>
    <input [(ngModel)]="newPrice" placeholder="price"/>
    <input [(ngModel)]="newAmount" placeholder="amount"/>

    <button (click)="addArticle()"> add </button>
</div>

<div class='all'>
  <h2>articles:</h2>
  <p>-------------------</p>
    <table>
      <thead>
        <th>name</th>
        <th>price</th>
        <th>amount</th>
        <th>sum</th>
      </thead>
      <tr *ngFor="let article of articles" (click)="selectArticle(article)" [ngClass]="{'selected': article.isSelected == selectArticle}">
        <td>{{ article.name }}</td>
        <td>{{ article.price }}€</td>
        <td>{{ article.amount }}</td>
        <td>{{ (article.sum).toFixed(2) }}€</td>
        <td (click)="removeArticle(article)">X</td>
      </tr>
    </table>
    <p [class.total]='isActive' (click)="toggleIsActive()">total: {{ (totalPrice).toFixed(2) }}€</p>
    <!-- <p [ngClass]=
        "{
        'total': isActive,
         'selected': isSelected }" (click)="toggleIsActive()">total: {{ (totalPrice).toFixed(2) }}€</p>-->
    <p>-------------------</p>
    <p>-------------------</p>
  <div *ngIf="selectArticle">
    <h2>details:</h2>
    <p>-------------------</p>
      <p>name: {{ selectedArticle.name }} </p>
      <p>price:  {{ selectedArticle.price }}€ </p>
      <p>amount:  {{ selectedArticle.amount }}</p>
      <button class='unselect' (click)="unSelect(article)">unselect</button>
      <button class='delete' (click)="removeArticle(article)" >delete</button>
  </div>
</div>