.all {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.total {
    background-color: gold;
}

.selected {
    font-size: 20%;
}

.unselect {
    background-color: gold;

}
.delete {
    background-color: orangered;
}