<div class="card-header">
  <h2>Shoppinglist</h2>
</div>
<div class="card-body mt-3">
  <div class="row">
    <div class="col ml-1">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Name</span>
        </div>
        <input (keydown)="onKeydown($event)" [(ngModel)]="newArticleName" type="text" class="form-control">
      </div>
    </div>

    <div class="col ml-1">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Preis</span>
        </div>
        <input (keydown)="onKeydown($event)" [(ngModel)]="newArticlePrice" type="text" class="form-control">
      </div>
    </div>

    <div class="col ml-1 mr-1">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Anzahl</span>
        </div>
        <input (keydown)="onKeydown($event)" [(ngModel)]="newArticleAmount" type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col text-center">
      <button class="btn btn-primary" (click)="addToList()">Artikel hinzuf&uuml;gen</button>
    </div>
  </div>

  <div class="row border border-bottom-1 border-left-0 border-right-0 border-top-0">
    <div class="col">
      <strong>
        Artikel
      </strong>
    </div>
    <div class="col">
      <strong>
        Preis eines Artikels
      </strong>
    </div>
    <div class="col">
      <strong>
        Anzahl
      </strong>
    </div>
    <div class="col">
      <strong>
        Preis
      </strong>
    </div>
    <div class="col-1"></div>
  </div>

  <div [ngClass]="{'selected-row': (selectedArticle == article)}" (click)="showDetailsOfArticle(article)"
    *ngFor="let article of shopping_list.shopping_list" class="row mt-1 highlight">
    <div class="col">
      {{article.name}}
    </div>
    <div class="col">
      {{article.price}}
    </div>
    <div class="col">
      {{article.number_of_articles}}
    </div>
    <div class="col">
      {{(article.article_costs).toFixed(2)}}
    </div>
    <div class="col-1">
      <button (click)="removeFromList(article)" class="btn btn-danger"><i class="fas fa-ban"></i></button>
    </div>
  </div>

  <div class="row border border-bottom-0 border-left-0 border-right-0 border-top-1">
    <div class="col text-right mr-5">
      Gesamt:
      <strong>
        {{shopping_list.totalPrice}}
      </strong>
    </div>
  </div>
  <div class="card">
    <div *ngIf="showDetails" class="row text-center">
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="card-header">
              <h2>Details</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 offset-md-4">
            Artikel
          </div>
          <div class="col text-left">
            {{selectedArticle.name}}
          </div>
        </div>
        <div class="row">

          <div class="col-2 offset-md-4">
            Preis
          </div>
          <div class="col text-left">
            {{selectedArticle.price}}
          </div>
        </div>
        <div class="row">

          <div class="col-2 offset-md-4">
            Anzahl
          </div>
          <div class="col text-left">
            {{selectedArticle.number_of_articles}}
          </div>
        </div>
        <div class="row">

          <div class="col-2 offset-md-4">
            Gesamt
          </div>
          <div class="col text-left">
            {{(selectedArticle.article_costs).toFixed(2)}}
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <button (click)="removeFromList(selectedArticle)" class="btn btn-danger"><i class="fas fa-ban"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">

    </div>
  </div>
</div>